<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <article>
    <form action="/login" method="POST">
    <section>
      <div class="info">
        <h1 class="sign-in">Sign In</h1>
        <div class="inputs">
          <input type="text" autocomplete="off" placeholder="Ex. john.doe@example.com" name="email" id="email" />
          <p class="form-info">Your Email</p>
        </div>
        <div class="inputs">
          <input type="password" autocomplete="off" placeholder="********" name="password" id="password"/>
          <p class="form-info">Password</p>
        </div>
          <button type="submit" class="registerbtn">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/register" class="create">Sign Up</a></p>
      </div>
      <div class="img">
        <img src="/img/login-page-img.jpg" alt="sample" class="pic" />
      </div>
    </section>
  </article>
</body>
</html>